a {
    text-decoration: none;
}

.item {
    padding: 25px 0;
}

.item-name {
    font-family: Roboto-Bold;
    text-align: center;
    padding: 10px 0;
}

.item-image {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 200px;
}